* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parol {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/img1.jpg);
    background-size: cover;

}

.parol_item {
    width: 320px;
    height: 400px;
    background-color: rgba(16, 94, 98, 0.956);
    border-radius: 10px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.parol_item:hover {
    background-color: rgba(51, 231, 244, 0.942);
}

.parol_item>input {
    width: 90%;
    height: 40px;
    background-color: #ffffff6a;
    border-radius: 20px;
    padding: 0 20px;
    color: #fff;
    border: none;
    font-size: 17px;
    outline-color: green;
    border-bottom: 5px solid rgb(6, 66, 125);
}

.parol_item>input:focus {
    background-color: rgba(0, 128, 0, 0.666);
}

.parol_item>input::placeholder {
    color: rgb(25, 35, 35);
}

.parol_item>button {
    width: 90%;
    height: 35px;
    background-image: linear-gradient(to top right, skyblue, dodgerblue, blue);
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}

.parol_item>button:active {
    background-color: dodgerblue;
    border: green 1px solid;
}



header {
    width: 100vw;
    height: 70px;
    background-color: rgba(245, 222, 179, 0.51);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: none;
}

header .box {
    width: 70%;
    height: 40px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .box input {
    width: 80%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
}

.div {
    width: 17%;
    height: 40px;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid green;
    color: green;
}

.div:hover {
    background-color: green;
    color: #fff;
}



.table {
    width: 100vw;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    display: none;
}

.table_box {
    width: 80%;
    height: auto;
    background-color: rgb(30, 255, 113);
}

.table_navbar {
    width: 100%;
    height: 70px;
    background-color: red;
    display: flex;
}

.navbar_box1 {
    width: 10%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    color: red;
}

.navbar_box {
    width: 18%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    color: red;

}

.table_banner {
    width: 100%;
    height: auto;
    padding: 5px 0;
}


.table_banner_box {
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
    display: flex;
}


.navbar_box1_1 {
    width: 10%;
    height: 100%;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}

.navbar_box_1 {
    width: 18%;
    height: 100%;
    background-color: rgba(192, 255, 252, 0.392);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;

}













.banner {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80);
    background-size: cover;
    display: none;



}

.login {
    width: 360px;
    height: 500px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 10px 10px rgb(142, 189, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff33;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1490650404312-a2175773bbf5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);


}

.login h1 {
    color: #fff;
}

.login h2 {
    color: #fff;
    text-shadow: 0 0 5px rgb(7, 77, 7);
}

.login input {
    width: 90%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: 3px solid green;
    padding: 0 15px;
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 15px;
    color: #fff;
}

.login input::placeholder {
    color: #fff;
}


.login input:focus {
    background-color: rgba(0, 128, 0, 0.64);
}

.login .wee {
    width: 90%;
    height: 45px;
    background-image: linear-gradient(to top right, rgb(38, 224, 214), rgb(147, 229, 147), dodgerblue);
    border: none;
    border-radius: 15px;
    color: #fff;
}

.wee:active {
    background: aqua;
}

.we {
    width: 90%;
    height: 45px;
    background-color: rgba(112, 78, 205, 0.71);
    border: none;
    border-radius: 15px;
    color: #fff;
}

.we:active {
    transition: .3s;
    background-color: blueviolet;
}

@media screen and (max-width:1300px) {
    .table_box {
        width: 90%;
    }
}

@media screen and (max-width:1050px) {
    .table_box {
        width: 98%;
    }
}

@media screen and (max-width:950px) {
    .table_navbar {
        height: 50px;
    }

    .table_banner_box {
        height: 45px;
    }

    .table_navbar .navbar_box1>h3 {
        font-size: 17px;
    }

    .table_navbar .navbar_box>h3 {
        font-size: 17px;
    }
}

@media screen and (max-width:750px) {
    .table_navbar {
        height: 45px;
    }
    .table_banner_box {
        height: 38px;
    }

    .table_navbar .navbar_box1>h3 {
        font-size: 15px;
    }

    .table_navbar .navbar_box>h3 {
        font-size: 15px;
    }
}

@media screen and (max-width:650px) {
    .table_navbar {
        height: 45px;
    }

    .table_navbar .navbar_box1>h3 {
        font-size: 13px;
    }

    .table_navbar .navbar_box>h3 {
        font-size: 13px;
    }
}
@media screen and (max-width:650px) {
     .navbar_box1_1>h4 {
        font-size: 12.55px;
    }

     .navbar_box_1>h4 {
        font-size: 12.55px;
    }
}
@media screen and (max-width:485px) {
    .table_banner_box {
        height: 32px;
    }
}

@media screen and (max-width:465px) {
    .table_box {
        width: 99.6%;
    }

    .table_navbar {
        height: 40px;
    }

    .table_navbar .navbar_box1>h3 {
        font-size: 11.55px;
    }

    .table_navbar .navbar_box>h3 {
        font-size: 11.55px;
    }
    .navbar_box1_1>h4 {
        font-size: 11.7px;
    }

     .navbar_box_1>h4 {
        font-size: 11.7px;
    }
}