* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parol{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/img1.jpg);
    background-size: cover;
}

.parol_item{
    width: 320px;
    height: 400px;
    background-image: url(./img/photo_2023-07-22_13-52-53.jpg);
    border-radius: 10px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.parol_item>input{
    width: 90%;
    height: 40px;
    background-color: #ffffff24;
    border-radius: 20px;
    border: none;
    outline: green 2px solid;
    padding: 0 20px;
    color: #fff;
    font-size: 17px;
    border: 2PX solid green;
}

.parol_item>input:focus{
    background-color: rgba(0, 128, 0, 0.722);
}

.parol_item>input::placeholder{
    color: rgb(128, 185, 128);
}

.parol_item>button{
    width: 90%;
    height: 35px;
    background-image: linear-gradient(to top right, skyblue,  dodgerblue,  blue);
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}

.parol_item>button:active{
    background-color: dodgerblue;
}



header{
    width: 100vw;
    height: 70px;
    background-color: rgba(245, 222, 179, 0.51);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: none ;
}

header .box{
    width: 70%;
    height: 40px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .box input{
    width: 80%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
}

.div{
    width: 17%;
    height: 40px;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid green;
    color: green;
}
.div:hover{
    background-color: green;
    color: #fff;
}


table {
    width: 96%;
    margin: 100px auto;
    text-align: center;
    border-collapse: collapse;
    background-color: blueviolet;
    display: none;
}

table thead tr th {
    padding: 7px;
    color: #fff;
    text-transform: capitalize;
}

table tbody tr td {
    background-color: skyblue;
    border: 1px solid green;
    margin: 2px;
}



table tbody tr td {
    padding: 5px 0;
}

.banner{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80);
    background-size: cover;
    display: none;
    
   
    
}

.login{
    width: 360px;
    height: 500px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 10px 10px rgb(142, 189, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff33;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1490650404312-a2175773bbf5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    
    
}

.login h1{
    color: #fff;
}

.login h2{
    color: #fff;
    text-shadow: 0 0 5px rgb(7, 77, 7);
}

.login input{
    width: 90%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: 3px solid green;
    padding: 0 15px;
    font-size: 17px;
    text-transform: capitalize;
    border-radius: 15px;
    color: #fff;
}

.login input::placeholder{
    color: #fff;
}


.login input:focus{
    background-color: rgba(0, 128, 0, 0.64);
}

.login .wee{
    width: 90%;
    height: 45px;
    background-image: linear-gradient(to top right, rgb(38, 224, 214), rgb(147, 229, 147), dodgerblue);
    border: none;
    border-radius: 15px;
    color: #fff;
}

.wee:active{
   background: aqua;
}

.we{
    width: 90%;
    height: 45px;
    background-color: rgba(112, 78, 205, 0.71);
    border: none;
    border-radius: 15px;
    color: #fff;
}
.we:active{
    transition: .3s;
    background-color: blueviolet;
}




